.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 50px;
}

.config-title{
  font-family: arial;
  font-size:14px;
}

.config-content{
  overflow: initial;
}

.close-button{
  margin: 0 auto;
}

.input-container{
  margin-bottom: 5px;
}

.validation-message{
  color:#8a0000;
}
