.tile{
  width: 40px;
  height: 40px;
  margin: 1px;
  background-color: #6d3658;
  float:left;
  line-height: 40px;
  text-align: center;
  display: block;
  color: rgb(84, 84, 84);
}

.tile:hover{
  background-color: #c36da2;
}

.revealed-tile{
  background-color: #c36da2 !important;
}

.superman-tile{
  background-color: #905278;
}

.mat-icon-button .mat-icon{
  line-height: 50px;
  color: rgb(84, 84, 84);
}

.mat-icon-button, .tile{
  font-family:"arial";
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
