<!--[class.backg]="isMine(tile)"-->


<!--<div class="tile">-->
  <!--<button md-icon-button>-->
    <!--<div *ngIf="tile.isRevealed && !isMine()">-->
      <!--{{tile.value()}}-->
    <!--</div>-->
    <!--<div *ngIf="tile.isRevealed && isMine()">-->
      <!--<md-icon svgIcon="mine"></md-icon>-->
    <!--</div>-->
    <!--<div *ngIf="!tile.isRevealed && tile.isFlagged">-->
      <!--<md-icon svgIcon="flag"></md-icon>-->
    <!--</div>-->
  <!--</button>-->
<!--</div>-->

<div class="tile" [class.revealed-tile]="tile.isRevealed" [class.superman-tile]="globalParams.isSuperman">
  <div *ngIf="tile.isRevealed && !isMine()">
    {{tile.value()}}
  </div>
  <div *ngIf="(tile.isRevealed || globalParams.isSuperman) && isMine() && !tile.isFlagged">
    <md-icon svgIcon="mine" style="line-height: 50px;"></md-icon>
  </div>
  <div *ngIf="!tile.isRevealed && tile.isFlagged">
    <md-icon svgIcon="flag" style="line-height: 50px;"></md-icon>
  </div>
</div>


<!--<div class="tile">-->
  <!--<div *ngIf="tile.isRevealed">-->
    <!--{{tile.value()}}-->
  <!--</div>-->
  <!--<div *ngIf="!tile.isRevealed && tile.isFlagged">-->
    <!--?-->
  <!--</div>-->
<!--</div>-->
