.tile{
  width: 60px;
  height: 60px;
  margin: 1px;
  background-color: #6d3658;
  float:left;
  line-height: 60px;
  text-align: center;
  display: block;
  color: rgb(84, 84, 84);
}

.tile:hover{
  background-color: #c36da2;
}

.revealed-tile{
  background-color: #c36da2;
}

.flagged-tile{
  background-color: #841d1d !important;
}

.superman-tile{
  background-color: #905278;
}

.mat-icon-button .mat-icon{
  color: rgb(84, 84, 84);
}

.mat-icon-button, .tile{
  font-family:"arial";
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.tile-icon{
  line-height: 70px;
  width: 30px;
  height: 30px;
}
