<section class="header-panel" [@logoActive]="playMode ? 'active' : 'inactive'">
  <img src="../assets/hello_wix.png"/>
</section>
<section class="buttons-panel">
  <section class="section">
  <button md-raised-button (click)="openConfig()" class="start-button" [disabled]="playMode">Settings</button>
  <button md-raised-button (click)="stopClick()" class="start-button" [disabled]="!playMode">Stop</button>
  <button md-raised-button (click)="startClick()" class="start-button">{{playMode? "Restart" : "Start"}}</button>
</section>
</section>
<md-card class="game-container" [@gameActive]="playMode ? 'active' : 'inactive'" >
  <app-minesweeper *ngIf="playMode" [game]="game"></app-minesweeper>
</md-card>
