<section class="header-panel" [@logoActive]="playMode ? 'active' : 'inactive'">
  <img src="/assets/hello_wix.png"/>
</section>
<section class="buttons-panel">
  <section class="section">
  <button md-raised-button (click)="openConfig()" class="start-button" [disabled]="playMode">Settings</button>
  <button md-raised-button (click)="stopClick()" class="start-button" [disabled]="!playMode">Stop</button>
  <button md-raised-button (click)="startClick()" class="start-button">{{playMode? "Restart" : "Start"}}</button>
</section>
</section>
<div class="bottom-text" [@bottomTextActive]="playMode ? 'inactive' : 'active'">Created by <a class="creator-link" href="https://www.linkedin.com/in/guy-ben-aharon-87767141/" target="_blank">Guy Ben-Aharon</a></div>
<md-card class="game-container" [@gameActive]="playMode ? 'active' : 'inactive'" >
  <app-minesweeper *ngIf="game.board" [@fadeInOut] [game]="game"></app-minesweeper>
</md-card>
