.header-panel{
  width: 80%;
  text-align: center;
  margin:0 auto;
  padding-top:10%;
}

.buttons-panel{
  width: 80%;
  text-align: center;
  margin:0 auto;
  padding-top:0;
}

.header-panel img{
  width: 400px;
}

.game-container{
  background-color: #e6efef !important;
  width: 80%;
  height: calc(100% - 300px);
  margin: 0 auto;
  /*overflow: hidden;*/
  /*margin-bottom: 15px;*/
  overflow: auto;

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.form {
  margin: 0 auto;
  width: 500px;
  padding-top: 100px;
}

.section {
  display: block;
  text-align: center;
  height: 60px;
}

.section button{
  margin:10px;
}

.start-button{
  margin:0 auto;
}

.upper-flags-left{
  width: 100%;
  text-align: center;
  display: block;
  font-family: arial;
  font-size:18px;
  color:dimgray;
  padding:5px;
}

.bottom-text{
  text-align: center;
  font-family: arial;
  font-size:14px;
  color:#4c4c4c;
  margin-top:100px;
}
