<div class="game-board">
  <virtual-scroll [items]="game.board.getRows()" (update)="viewPortItems = $event">
    <app-row *ngFor="let row of viewPortItems" [row]="row" [globalParams]="{isSuperman: game.isSuperman}" (tileClick)="handleTileClick($event)" (tileShiftClick)="handleTileShiftClick($event)"></app-row>
  </virtual-scroll>
</div>
<div class="info-board">
  <md-card>
  <md-card-header>
  <md-card-title>Game Info</md-card-title>
  </md-card-header>
  <md-card-content>
  <md-input-container class="full-width">
  <input class="game-status" mdInput placeholder="Game status:" disabled value="{{game.isGameOver ? 'Not Active' : 'Active'}}">
  </md-input-container>
  <md-input-container class="full-width">
  <input mdInput placeholder="Flags left:" disabled value="{{game.flags}}">
  </md-input-container>
  <md-card-header>
  <md-card-subtitle>Board details:</md-card-subtitle>
  </md-card-header>
  <md-input-container class="full-width">
  <input mdInput placeholder="Width:" disabled value="{{game.width}}">
  </md-input-container>
  <md-input-container class="full-width">
  <input mdInput placeholder="Height:" disabled value="{{game.height}}">
  </md-input-container>
  <md-input-container class="full-width">
  <input mdInput placeholder="Mines:" disabled value="{{game.mines}}">
  </md-input-container>
  <section class="checkbox-section">
  <md-checkbox [(ngModel)]="game.isSuperman">
    Superman
  </md-checkbox>
  </section>
  </md-card-content>
  </md-card>
</div>
